.Rproj.user
.Rhistory
.RData
.Ruserdata
ArapahoRooseveltNF_S4F/
CarsonNF_S4F/
GMUGNF_S4F/
MantiLaSalNF_S4F/
MedBowRouttNF_S4F/
PikeSanIsabelNF_S4F/
RioGrandNF_S4F/
SanJuanNF_S4F/
SantaFeNF_S4F/
SRME/
WhiteRiverNF_S4F/
*.xlsx